@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#chip{
    width:100%;
    height:100%;
    background-color:white;
}
.chip{
    width:calc((100% - 50%) / 5);
    margin: 10px 5px;
}

input[type="text"]{
    text-transform: uppercase;
}

.chip .badge{
    width:20px;
    height: 20px;
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    position: absolute;
    right: 0;
    top:0;
    transition: all 0.4s;
    opacity: 0;
}

.chip:hover .badge{
    opacity: 1;
    cursor: pointer;
}

.chip .card-footer{
    transform: all 0.3s;
}

.chip .card-footer:hover{
   background-color: #aaa;
    color:white;
    cursor: pointer;
}

.copyinfo {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
    font-size: 0.8em;
    background-color: white;
    color: gray;
    border: 1px solid darkgray;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

@media all and (max-width:770px){
    
    .chip{
        width:calc((100% - 30px) / 3);
    }
    
    .chip .card-footer{
        padding-left: 8px;
        padding-right: 8px;
        font-size: 0.8em;
    }
}
